*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    background-color: rgb(22, 22, 22);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    height: 90%;
    aspect-ratio: 224/265;
    
    /* Bg size 1183 X 988 */
    /* Must be a repeating background for continuity */
    background-image: url("/assets/Super-Perfected-BG.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    /* background-position: right 50px; */

    border-radius: 20px;
}

.child-background{
    width: 100%;height: 100%;
    
    background-color: rgba(0, 0, 0, 0.1);

    /* border: 2px solid rgba(255, 255, 0, 0.534); */
    border-radius: 20px;

    position: relative;
    overflow: hidden;   /* For obstacle look decent*/
}

/* position relative finds its nearest "POSITIONED" ancestor"*/

.obstacle{
    width: 8%;height: inherit;        
    
    background-color: rgb(153, 255, 0);

    position: absolute;
    right: 0; top: 0;

    z-index: 0;/* For not phasing the drone*/
}

/*Keyframes not advised as they will mess with 
end screen after gameover windoww*/

.drone{
    /* Bird Dimentions 377 X 281*/
    height: 6%;
    aspect-ratio: 12/9; /* I love this property */

    background-image: url(/assets/Flappy-Bird-PNG-Photos.png);
    background-size: 100%;
    
    position: absolute;
    top: 50%;left: 25%;

    z-index: 1;/*For not phasing inside obstacle*/
}