/* Width x Height */
:root{
    --childBackgroundHeight: 89.44%;
    --obstacleWidth:12%;
    --openingHeight:30%;  /*25 to 40%*/
    --pipeUpHeight:50%  /* 15 to 85%*/
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    background-color: rgb(22, 22, 22);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    height: 90%;
    aspect-ratio: 224/265;
    
    background-image: url("/assets/Super-Perfected-BG.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    border-radius: 20px;
}

.child-background{
    width: 100%;height: var(--childBackgroundHeight);
    
    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 20px;

    position: relative;
    overflow: hidden;
}
/* position relative finds its nearest "POSITIONED" ancestor"*/

.scoreBox{
    /* background-color: aqua; */
    position: absolute;

    width: 10%; height: 10%;
    transform: translateX(-50%);
    left: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}
#number{
    font-size: 8vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 250, 255);
}
.obstacle{
    width: var(--obstacleWidth);height: 100%;        

    position: absolute;
    right: calc(-1*var(--obstacleWidth)) ; top: 0;

    z-index: 0;/* For not phasing the drone*/

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
.pipe{

    background-image: url("assets/pipe.png");
    background-repeat: repeat;
    background-size: 100% auto;
    position: absolute;
    
}
.pipeUp{
    width: 100%;height: calc(var(--pipeUpHeight) - 0.5*var(--openingHeight));
    top: 0;
}
.pipeDown{
    width: 100%;height: calc(100% - var(--pipeUpHeight) - 0.5*var(--openingHeight));
    bottom: 0;
}

/* Dimentions for pipe entry 1600 X 693 */

/* opening.getBoundingClientRect().height - calc((2)x(1600x693)x(opening.getBoundingClientRect().width)*/
.opening{
    width: 109%;height: var(--openingHeight);
    
    position: absolute;
    top: calc(var(--pipeUpHeight) - 0.5*var(--openingHeight));

    background-image: url(assets/pipe-entry-down-better.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 0%;
}
.opening2{
    width: 100%;height: 100%;

    background-image: url(assets/pipe-entry-up.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;

}

/*Keyframes not advised as they will mess with 
end screen after gameover windoww*/

.drone{
    /* Bird Dimentions 377 X 281*/
    height: 6%;
    aspect-ratio: 12/9; /* I love this property */

    background-image: url(/assets/Flappy-Bird-PNG-Photos.png);
    background-size: 100%;
    
    position: absolute;
    top: 50%;left: 25%;

    z-index: 1;/*For not phasing inside obstacle*/
}